@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
    --color1: #562EFF;
    --color2: #000;
    --color3: 

}

/* Google font is imported here */

*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Player section start */
.section-title{
    color: var(--color1);
    margin-bottom: 30px;
    
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
}
.container{
    height: 679px;
    width: 870px;
    background-color: #fff;
    padding: 30px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
    
}
.player h3{
    margin-left: 16px;
    font-size: 18px;
    font-weight: 500;
}
hr{
    border: 1px solid #D1D1D1;
    padding: 0;
    margin: 30px 0;
    
}
/* Blog Section Starts */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
}
.blog{
    display: flex;
}
.blog-img img{
   width: 177px;
   height: 117px;
}
.blog-text h2{
    margin-left: 16px;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    margin-top: -1px;
}

.blog-text p{
    margin-left: 16px;
    text-decoration: none;
    color: #9F9F9F;
}
.blog-text p a{
    text-decoration: none;
    color: var(--color1);
}

/* Blog Section End */
/* Courses section Starts*/
.container-2{
    
    margin-top: 20px;
    height: 382px;
    width: 870px;
    background-color: #fff;
    padding: 20px 30px;
}

.top-title{
    color: var(--color1);
    margin-top: 0;
    margin-bottom: 11px;
    font-size: 24px;
    font-weight: 500;
}
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
 .course{
    padding: 12px;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
 }
.course > img{
    width: 224px;
    height: 104px;
}






.course-discription h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
}

.author{
    color: #ED6B4F;
    font-size: 14px;
    font-weight: 400;

}

.feedback{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: ;
    margin-top: -20px;
} 

.filled{
    color: #FFC014;
    
    
}
.nfilled{
    color: #AEAEAE;
    margin-left: ;
}


.time{
    background-color: #FFE4E8;
    color: #FF4A60;
    border-radius: 1rem;
    padding: 5px;
    
}
/* ---------------------
MEDIA QUIRIES       
------------------------*/

/* For mobile devices */
@media only screen and (max-width: 688px) {
    /* Top SECTION Stars */
    .container{
        
        width: 100%;
        height: 100%;
    }
    .section-title{
        text-align: center;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        flex-direction: column;
    }
    /* Top SECTION Ends */
    /* Blog SECTION Starts */
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blog-text h2{
        font-size: 20px;
        font-weight: 500;
        line-height: 34px;
        text-align: center;
    }
    
    .blog-text p{
        margin-top: -10px;
        text-decoration: none;
        color: #9F9F9F;
        text-align: center;
    }
    /* Blog SECTION Ends */
    /* Courses SECTION Starts */
    .container-2{
        height: 100%;
        width: 100%;
    }
    .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    /* Courses SECTION Ends */
}

/* For tablet devices */
@media only screen and (min-width: 689px) and (max-width: 992px) {

    .container{
        
        width: 100%;
        height: 100%;
    }
    
}